@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
/* animations.css */
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  transition: opacity 0.6s ease-out;
}

.slide-in {
  transition: transform 0.6s ease-out;
}
